<table class="table table-hover">
    <tr>
        <th>Card Owner</th>
        <th>Card Number</th>
        <th>Expiration Date</th>
    </tr>
    <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.CardOwnerName}}</td>
        <td (click)="populateForm(pd)">{{pd.CardNumber}}</td>
        <td (click)="populateForm(pd)">{{pd.ExpirationDate}}</td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.ID)"></i>
        </td>
    </tr>
</table>
