<div *ngFor="let form of qcs.list">
    <br>
    <mat-card class="mat-elevation-z8">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Form </th>
                    <th scope="col">Field</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let field of form.Fields">
                    <th scope="row">{{form.ID}}</th>
                    <td>{{field.Name}}</td>
                    <td>{{field.Value.value}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card>

</div>