<div>
	<mat-form-field>
		<mat-label>Custom form ID</mat-label>
		<mat-select (selectionChange)="onFormSelection($event)">
			<mat-option *ngFor="let form of qcs.forms" [value]="form.ID">
				{{form.ID}}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-card *ngIf="qcs.customFormID">
		<mat-card-title *ngIf="qcs.customFormID">
			<h1>{{qcs.forms[qcs.customFormID-1].name}}</h1>
		</mat-card-title>


		<!-- <div class="form-row">
			<strong>customformquestions</strong><br>{{qcs.pyld.value}}
		</div> -->

		<form (ngSubmit)="onSubmit()" [formGroup]="qcs.qForm">
			<div *ngFor="let question of qcs.customFormQuestions" class="form-row">
				<app-question [question]="question" [form]="qcs.qForm"></app-question>
			</div>

			<div class="form-row" *ngIf="qcs.customFormQuestions">
				<!-- <button type="submit" [disabled]="!form.valid">Submit</button> -->
				<button mat-raised-button [disabled]="!qcs.qForm.valid" color="primary">Submit</button>
			</div>
		</form>

		<!-- <div *ngIf="payLoad" class="form-row">
			<strong>Saved the following values</strong><br>{{payLoad}}
		</div> -->
	</mat-card>

	<!-- <button mat-raised-button (click)="onTest()" color="primary">Test</button> -->





</div>