<div class="container">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Test application</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
			aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item" routerLinkActive='active'>
					<a class="nav-link" routerLink=''>Main Form</a>
				</li>

				<li class="nav-item" routerLinkActive='active'>
					<a class="nav-link" routerLink='dynamic-form-example'>Dynamic Form Example</a>
				</li>

				<li class="nav-item" routerLinkActive='active'>
					<a class="nav-link" routerLink='payment-details'>Payment Detail </a>
				</li>

				<li class="nav-item" routerLinkActive='active'>
					<a class="nav-link" routerLink='shirt-details'>Shirt Details</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Person Details</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="#">Address Details</a>
				</li>

			</ul>
				Navbar text with an inline element
			</span> -->
		</div>
	</nav>
	<!-- <app-payment-details></app-payment-details> -->
	<router-outlet></router-outlet>
</div>