<div class="jumbotron">
    <h1 class="display-4 text-center">Main form</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Personal information</h5>
                <div class="card-body">
                    <h5 class="card-title">Enter your Name and Surname</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <input type="hidden" name="ID" [value]="service.formData.ID">
                        <div class="form-group">
                            <input name="Size" #CardOwnerName="ngModel" [(ngModel)]="service.formData.Size"
                                class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input name="Color" #CardNumber="ngModel" [(ngModel)]="service.formData.Color"
                                class="form-control" placeholder="Surname">
                        </div>
                        <!-- <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit"> Submit</button>
                        </div> -->
                    </form>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">Address information</h5>
                <div class="card-body">
                    <h5 class="card-title">Enter your Address and City</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <input type="hidden" name="ID" [value]="service.formData.ID">
                        <div class="form-group">
                            <input name="Size" #CardOwnerName="ngModel" [(ngModel)]="service.formData.Size"
                                class="form-control" placeholder="Address">
                        </div>
                        <div class="form-group">
                            <input name="Color" #CardNumber="ngModel" [(ngModel)]="service.formData.Color"
                                class="form-control" placeholder="City">
                        </div>
                        <!-- <div class="form-group">
                            <button class="btn btn-success btn-lg btn-block" type="submit"> Submit</button>
                        </div> -->
                    </form>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">Shirt information</h5>
                <div class="card-body">
                    <h5 class="card-title">Choose Shirt Size, Color and Logo you want</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <input type="hidden" name="ID" [value]="service.formData.ID">
                        <div class="form-group">
                            <h6>Size</h6>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">S</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">M</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">L</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline4" name="customRadioInline1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline4">XL</label>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <input name="Color" #CardNumber="ngModel" [(ngModel)]="service.formData.Color"
                                class="form-control" placeholder="Color">
                        </div> -->
                        <div class="form-group">
                            <h6>Color</h6>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline11" name="customRadioInline2"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline11">Black</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline12" name="customRadioInline2"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline12">Gray</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline13" name="customRadioInline2"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline13">Pink</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline14" name="customRadioInline2"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline14">Blue</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <h6>Shirt Logo</h6>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline31" name="customRadioInline3"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline31">Dragon</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline32" name="customRadioInline3"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline32">Flower</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline33" name="customRadioInline3"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline33">Cube</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline34" name="customRadioInline3"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline34">Mushroom</label>
                            </div>
                        </div>
                    </form>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">Payment information</h5>
                <div class="card-body">
                    <h5 class="card-title">Enter card owner name, expiration date and CVV</h5>
                    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                        <input type="hidden" name="ID" [value]="service.formData.ID">
                        <div class="form-group">
                            <input name="Size" #CardOwnerName="ngModel" [(ngModel)]="service.formData.Size"
                                class="form-control" placeholder="Card owner name">
                        </div>
                        <div class="form-group">
                            <input name="Color" #CardNumber="ngModel" [(ngModel)]="service.formData.Color"
                                class="form-control" placeholder="Expiration date">
                        </div>
                        <div class="form-group">
                            <input name="Color" #CardNumber="ngModel" [(ngModel)]="service.formData.Color"
                                class="form-control" placeholder="CVV">
                        </div>
                        <!-- <div class="form-group">
                                    <button class="btn btn-success btn-lg btn-block" type="submit"> Submit</button>
                                </div> -->
                    </form>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"> Submit</button>
    </div>
</div>